.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .content {
    max-width: 768px;
    width: 100%;
  }
}

@media screen and (max-width: 554px) {
  .content {
    max-width: 320px;
    width: 100%;
  }
}
