.page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2a2c2f;
  color: #fff;
  max-width: 1600px;
  font-family: "inter", sans-serif;
  padding: 34px 148px 24px 148px;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 30px 0 24px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .page {
    padding: 20px 0 24px 0;
  }
}
