.photo-grid {
  max-width: 1184px;
}

.photo-grid__images {
  display: grid;
  grid-template-columns: repeat(4, 21fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  margin: 118px 0 0 0;
}

.photo-grid__image {
  max-width: 284px;
  max-height: 213px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    margin: 64px 0 0 0;
    justify-items: center;
    align-items: center;
    max-width: 720px;
    max-height: 1104px;
  }

  .photo-grid__image {
    max-width: 352px;
    max-height: 264px;
    width: 100%;
  }
}

@media screen and (max-width: 554px) {
  .photo-grid__images {
    max-width: 288px;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: 1876px;
    padding: 0 16px;
  }
}
