.page {
  background-color: #2a2c2f;
  color: #fff;
  max-width: 1280px;
  font-family: "inter", sans-serif;
  padding: 34px 148px 24px 148px;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  width: 254px;
  height: 70px;
}

.main__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__content__title {
  margin-top: 90px;
  font-size: 96px;
  font-weight: 900;
  max-width: 720px;
  line-height: 1.04;
  text-align: center;
  margin-bottom: 0;
}

.main__content__subtitle {
  margin-top: 32px;
  font-size: 30px;
  line-height: 1.2;
  max-width: 720px;
  text-align: center;
}

.main__content__image {
  margin-top: 64px;
  max-width: 984px;
  max-height: 615px;
}

.main__content__intro__title {
  max-width: 830px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
  margin-bottom: 0;
  margin-top: 92px;
}

.main__content__intro__quote {
  max-width: 738px;
  font-size: 24px;
  line-height: 1.34;
  margin-bottom: 0;
  margin-top: 40px;
}

.main__content__intro__author {
  margin-top: 10px;
  max-width: 732px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 0;
}

.main__content__intro__text {
  margin-top: 32px;
  max-width: 722px;
  line-height: 1.63;
  margin-bottom: 0;
}

.footer__copyright {
  margin-top: 92px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 30px 0 24px 0;
  }

  .logo {
    width: 254px;
    height: 66px;
  }

  .main__content__title {
    font-size: 75px;
    max-width: 530px;
    line-height: 1.05;
  }

  .main__content__subtitle {
    margin-top: 25px;
    font-size: 30px;
  }

  .main__content__image {
    max-width: 100%;
    margin-top: 30px;
  }

  .main__content__intro__title {
    font-size: 45px;
    max-width: 707px;
    line-height: 1.0889;
    margin-top: 90px;
  }

  .main__content__intro__quote {
    max-width: 720px;
    line-height: 1.1467;
    margin-top: 50px;
  }

  .main__content__intro__author {
    max-width: 720px;
    margin-top: 0;
  }

  .main__content__intro__text {
    max-width: 720px;
  }

  .footer__copyright {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 20px 0 24px 0;
  }

  .logo {
    width: 188px;
    height: 52px;
  }

  .main__content__title {
    font-size: 42px;
    max-width: 288px;
    line-height: 1.1;
    margin-top: 50px;
  }

  .main__content__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 16px;
  }

  .main__content__image {
    max-width: 100%;
    margin-top: 40px;
  }

  .main__content__intro__title {
    font-size: 32px;
    max-width: 288px;
    line-height: 1.0889;
    margin-top: 64px;
    padding: 0 16px;
  }

  .main__content__intro__quote {
    max-width: 720px;
    font-size: 24px;
    line-height: 1.25;
    margin-top: 40px;
    padding: 0 16px;
  }

  .main__content__intro__author {
    max-width: 288px;
    margin-top: 10px;
  }

  .main__content__intro__text {
    max-width: 288px;
    padding: 0 16px;
  }

  .footer__copyright {
    margin-top: 64px;
  }
}
